@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;700&family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* body, html{
    overflow-x: hidden;
}

nav {
    padding: 10px;
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
}

rig {}

nav {}

.top-menu {
    align-items: center;
    bottom: 0;
    right: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
} */


body{
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Poppins', sans-serif;
}